body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.quote-container{
    text-align: center;
    font-size: 60px;
}
button{
    font-size: 30px;
}
